OtokarMVC-DEV/ODMSBusiness/Service References/ReportService/ReportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="VehicleDeliveryVoucherReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="workOrderId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VehicleDeliveryVoucherReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VehicleDeliveryVoucherReportResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserCredentials" type="tns:UserCredentials" />
      <s:complexType name="UserCredentials">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="returnValue" type="s:boolean" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="SparePartPositionedReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="langCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="deliveryId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SparePartPositionedReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SparePartPositionedReportResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClaimDismantledPartReportCopy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="langCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="claimWayBillId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClaimDismantledPartReportCopyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClaimDismantledPartReportCopyResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClaimDismantledPartProformaReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="langCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="claimWayBillId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClaimDismantledPartProformaReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClaimDismantledPartProformaReportResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClaimDismantledPartReportReal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="langCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="claimWayBillId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClaimDismantledPartReportRealResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClaimDismantledPartReportRealResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SparePartSaleReportCopy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="langCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sparePartSaleId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SparePartSaleReportCopyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SparePartSaleReportCopyResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SparePartSaleReportReal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="langCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sparePartSaleId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SparePartSaleReportRealResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SparePartSaleReportRealResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WorkOrderInvoiceReportCopy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="langCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="workOrderInvoiceId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WorkOrderInvoiceReportCopyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WorkOrderInvoiceReportCopyResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WorkOrderInvoiceProformaReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="langCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="workOrderInvoiceId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WorkOrderInvoiceProformaReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WorkOrderInvoiceProformaReportResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WorkOrderInvoiceReportReal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="langCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="workOrderInvoiceId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WorkOrderInvoiceReportRealResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WorkOrderInvoiceReportRealResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WorkOrderInvoiceWithHoldReportCopy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="langCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="workOrderInvoiceId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WorkOrderInvoiceWithHoldReportCopyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WorkOrderInvoiceWithHoldReportCopyResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WorkOrderInvoiceWithHoldProformaReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="langCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="workOrderInvoiceId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WorkOrderInvoiceWithHoldProformaReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WorkOrderInvoiceWithHoldProformaReportResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WorkOrderInvoiceWithHoldReportReal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="langCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="workOrderInvoiceId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WorkOrderInvoiceWithHoldReportRealResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WorkOrderInvoiceWithHoldReportRealResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SpecialWorkOrderInvoiceReportCopy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="langCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="workOrderInvoiceId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SpecialWorkOrderInvoiceReportCopyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SpecialWorkOrderInvoiceReportCopyResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SpecialWorkOrderInvoiceProformaReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="langCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="workOrderInvoiceId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SpecialWorkOrderInvoiceProformaReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SpecialWorkOrderInvoiceProformaReportResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SpecialWorkOrderInvoiceReportReal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="langCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="workOrderInvoiceId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SpecialWorkOrderInvoiceReportRealResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SpecialWorkOrderInvoiceReportRealResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SparePartPickingReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="langCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="workOrderPickingId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SparePartPickingReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SparePartPickingReportResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WorkOrderInvioceBreakDownReportCopy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="langCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="workOrderInvoiceId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WorkOrderInvioceBreakDownReportCopyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WorkOrderInvioceBreakDownReportCopyResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WorkOrderInvioceBreakDownProformaReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="langCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="workOrderInvoiceId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WorkOrderInvioceBreakDownProformaReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WorkOrderInvioceBreakDownProformaReportResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WorkOrderInvioceBreakDownReportReal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="langCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="workOrderInvoiceId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WorkOrderInvioceBreakDownReportRealResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WorkOrderInvioceBreakDownReportRealResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnSparePartPositionedReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="langCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="workOrderPickingId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnSparePartPositionedReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReturnSparePartPositionedReportResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SparePartSaleProformaReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="langCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sparePartSaleId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SparePartSaleProformaReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SparePartSaleProformaReportResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CycleCountPlanReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="langCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cycleCountId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CycleCountPlanReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CycleCountPlanReportResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WorkOrderReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="workOrderId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WorkOrderReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WorkOrderReportResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VehicleDeliveryVoucherReportSoapIn">
    <wsdl:part name="parameters" element="tns:VehicleDeliveryVoucherReport" />
  </wsdl:message>
  <wsdl:message name="VehicleDeliveryVoucherReportSoapOut">
    <wsdl:part name="parameters" element="tns:VehicleDeliveryVoucherReportResponse" />
  </wsdl:message>
  <wsdl:message name="VehicleDeliveryVoucherReportUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="SparePartPositionedReportSoapIn">
    <wsdl:part name="parameters" element="tns:SparePartPositionedReport" />
  </wsdl:message>
  <wsdl:message name="SparePartPositionedReportSoapOut">
    <wsdl:part name="parameters" element="tns:SparePartPositionedReportResponse" />
  </wsdl:message>
  <wsdl:message name="SparePartPositionedReportUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="ClaimDismantledPartReportCopySoapIn">
    <wsdl:part name="parameters" element="tns:ClaimDismantledPartReportCopy" />
  </wsdl:message>
  <wsdl:message name="ClaimDismantledPartReportCopySoapOut">
    <wsdl:part name="parameters" element="tns:ClaimDismantledPartReportCopyResponse" />
  </wsdl:message>
  <wsdl:message name="ClaimDismantledPartReportCopyUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="ClaimDismantledPartProformaReportSoapIn">
    <wsdl:part name="parameters" element="tns:ClaimDismantledPartProformaReport" />
  </wsdl:message>
  <wsdl:message name="ClaimDismantledPartProformaReportSoapOut">
    <wsdl:part name="parameters" element="tns:ClaimDismantledPartProformaReportResponse" />
  </wsdl:message>
  <wsdl:message name="ClaimDismantledPartProformaReportUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="ClaimDismantledPartReportRealSoapIn">
    <wsdl:part name="parameters" element="tns:ClaimDismantledPartReportReal" />
  </wsdl:message>
  <wsdl:message name="ClaimDismantledPartReportRealSoapOut">
    <wsdl:part name="parameters" element="tns:ClaimDismantledPartReportRealResponse" />
  </wsdl:message>
  <wsdl:message name="ClaimDismantledPartReportRealUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="SparePartSaleReportCopySoapIn">
    <wsdl:part name="parameters" element="tns:SparePartSaleReportCopy" />
  </wsdl:message>
  <wsdl:message name="SparePartSaleReportCopySoapOut">
    <wsdl:part name="parameters" element="tns:SparePartSaleReportCopyResponse" />
  </wsdl:message>
  <wsdl:message name="SparePartSaleReportCopyUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="SparePartSaleReportRealSoapIn">
    <wsdl:part name="parameters" element="tns:SparePartSaleReportReal" />
  </wsdl:message>
  <wsdl:message name="SparePartSaleReportRealSoapOut">
    <wsdl:part name="parameters" element="tns:SparePartSaleReportRealResponse" />
  </wsdl:message>
  <wsdl:message name="SparePartSaleReportRealUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="WorkOrderInvoiceReportCopySoapIn">
    <wsdl:part name="parameters" element="tns:WorkOrderInvoiceReportCopy" />
  </wsdl:message>
  <wsdl:message name="WorkOrderInvoiceReportCopySoapOut">
    <wsdl:part name="parameters" element="tns:WorkOrderInvoiceReportCopyResponse" />
  </wsdl:message>
  <wsdl:message name="WorkOrderInvoiceReportCopyUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="WorkOrderInvoiceProformaReportSoapIn">
    <wsdl:part name="parameters" element="tns:WorkOrderInvoiceProformaReport" />
  </wsdl:message>
  <wsdl:message name="WorkOrderInvoiceProformaReportSoapOut">
    <wsdl:part name="parameters" element="tns:WorkOrderInvoiceProformaReportResponse" />
  </wsdl:message>
  <wsdl:message name="WorkOrderInvoiceProformaReportUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="WorkOrderInvoiceReportRealSoapIn">
    <wsdl:part name="parameters" element="tns:WorkOrderInvoiceReportReal" />
  </wsdl:message>
  <wsdl:message name="WorkOrderInvoiceReportRealSoapOut">
    <wsdl:part name="parameters" element="tns:WorkOrderInvoiceReportRealResponse" />
  </wsdl:message>
  <wsdl:message name="WorkOrderInvoiceReportRealUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="WorkOrderInvoiceWithHoldReportCopySoapIn">
    <wsdl:part name="parameters" element="tns:WorkOrderInvoiceWithHoldReportCopy" />
  </wsdl:message>
  <wsdl:message name="WorkOrderInvoiceWithHoldReportCopySoapOut">
    <wsdl:part name="parameters" element="tns:WorkOrderInvoiceWithHoldReportCopyResponse" />
  </wsdl:message>
  <wsdl:message name="WorkOrderInvoiceWithHoldReportCopyUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="WorkOrderInvoiceWithHoldProformaReportSoapIn">
    <wsdl:part name="parameters" element="tns:WorkOrderInvoiceWithHoldProformaReport" />
  </wsdl:message>
  <wsdl:message name="WorkOrderInvoiceWithHoldProformaReportSoapOut">
    <wsdl:part name="parameters" element="tns:WorkOrderInvoiceWithHoldProformaReportResponse" />
  </wsdl:message>
  <wsdl:message name="WorkOrderInvoiceWithHoldProformaReportUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="WorkOrderInvoiceWithHoldReportRealSoapIn">
    <wsdl:part name="parameters" element="tns:WorkOrderInvoiceWithHoldReportReal" />
  </wsdl:message>
  <wsdl:message name="WorkOrderInvoiceWithHoldReportRealSoapOut">
    <wsdl:part name="parameters" element="tns:WorkOrderInvoiceWithHoldReportRealResponse" />
  </wsdl:message>
  <wsdl:message name="WorkOrderInvoiceWithHoldReportRealUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="SpecialWorkOrderInvoiceReportCopySoapIn">
    <wsdl:part name="parameters" element="tns:SpecialWorkOrderInvoiceReportCopy" />
  </wsdl:message>
  <wsdl:message name="SpecialWorkOrderInvoiceReportCopySoapOut">
    <wsdl:part name="parameters" element="tns:SpecialWorkOrderInvoiceReportCopyResponse" />
  </wsdl:message>
  <wsdl:message name="SpecialWorkOrderInvoiceReportCopyUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="SpecialWorkOrderInvoiceProformaReportSoapIn">
    <wsdl:part name="parameters" element="tns:SpecialWorkOrderInvoiceProformaReport" />
  </wsdl:message>
  <wsdl:message name="SpecialWorkOrderInvoiceProformaReportSoapOut">
    <wsdl:part name="parameters" element="tns:SpecialWorkOrderInvoiceProformaReportResponse" />
  </wsdl:message>
  <wsdl:message name="SpecialWorkOrderInvoiceProformaReportUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="SpecialWorkOrderInvoiceReportRealSoapIn">
    <wsdl:part name="parameters" element="tns:SpecialWorkOrderInvoiceReportReal" />
  </wsdl:message>
  <wsdl:message name="SpecialWorkOrderInvoiceReportRealSoapOut">
    <wsdl:part name="parameters" element="tns:SpecialWorkOrderInvoiceReportRealResponse" />
  </wsdl:message>
  <wsdl:message name="SpecialWorkOrderInvoiceReportRealUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="SparePartPickingReportSoapIn">
    <wsdl:part name="parameters" element="tns:SparePartPickingReport" />
  </wsdl:message>
  <wsdl:message name="SparePartPickingReportSoapOut">
    <wsdl:part name="parameters" element="tns:SparePartPickingReportResponse" />
  </wsdl:message>
  <wsdl:message name="SparePartPickingReportUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="WorkOrderInvioceBreakDownReportCopySoapIn">
    <wsdl:part name="parameters" element="tns:WorkOrderInvioceBreakDownReportCopy" />
  </wsdl:message>
  <wsdl:message name="WorkOrderInvioceBreakDownReportCopySoapOut">
    <wsdl:part name="parameters" element="tns:WorkOrderInvioceBreakDownReportCopyResponse" />
  </wsdl:message>
  <wsdl:message name="WorkOrderInvioceBreakDownReportCopyUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="WorkOrderInvioceBreakDownProformaReportSoapIn">
    <wsdl:part name="parameters" element="tns:WorkOrderInvioceBreakDownProformaReport" />
  </wsdl:message>
  <wsdl:message name="WorkOrderInvioceBreakDownProformaReportSoapOut">
    <wsdl:part name="parameters" element="tns:WorkOrderInvioceBreakDownProformaReportResponse" />
  </wsdl:message>
  <wsdl:message name="WorkOrderInvioceBreakDownProformaReportUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="WorkOrderInvioceBreakDownReportRealSoapIn">
    <wsdl:part name="parameters" element="tns:WorkOrderInvioceBreakDownReportReal" />
  </wsdl:message>
  <wsdl:message name="WorkOrderInvioceBreakDownReportRealSoapOut">
    <wsdl:part name="parameters" element="tns:WorkOrderInvioceBreakDownReportRealResponse" />
  </wsdl:message>
  <wsdl:message name="WorkOrderInvioceBreakDownReportRealUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="ReturnSparePartPositionedReportSoapIn">
    <wsdl:part name="parameters" element="tns:ReturnSparePartPositionedReport" />
  </wsdl:message>
  <wsdl:message name="ReturnSparePartPositionedReportSoapOut">
    <wsdl:part name="parameters" element="tns:ReturnSparePartPositionedReportResponse" />
  </wsdl:message>
  <wsdl:message name="ReturnSparePartPositionedReportUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="SparePartSaleProformaReportSoapIn">
    <wsdl:part name="parameters" element="tns:SparePartSaleProformaReport" />
  </wsdl:message>
  <wsdl:message name="SparePartSaleProformaReportSoapOut">
    <wsdl:part name="parameters" element="tns:SparePartSaleProformaReportResponse" />
  </wsdl:message>
  <wsdl:message name="SparePartSaleProformaReportUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="CycleCountPlanReportSoapIn">
    <wsdl:part name="parameters" element="tns:CycleCountPlanReport" />
  </wsdl:message>
  <wsdl:message name="CycleCountPlanReportSoapOut">
    <wsdl:part name="parameters" element="tns:CycleCountPlanReportResponse" />
  </wsdl:message>
  <wsdl:message name="CycleCountPlanReportUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="WorkOrderReportSoapIn">
    <wsdl:part name="parameters" element="tns:WorkOrderReport" />
  </wsdl:message>
  <wsdl:message name="WorkOrderReportSoapOut">
    <wsdl:part name="parameters" element="tns:WorkOrderReportResponse" />
  </wsdl:message>
  <wsdl:message name="WorkOrderReportUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:portType name="ReportServiceSoap">
    <wsdl:operation name="VehicleDeliveryVoucherReport">
      <wsdl:input message="tns:VehicleDeliveryVoucherReportSoapIn" />
      <wsdl:output message="tns:VehicleDeliveryVoucherReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SparePartPositionedReport">
      <wsdl:input message="tns:SparePartPositionedReportSoapIn" />
      <wsdl:output message="tns:SparePartPositionedReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClaimDismantledPartReportCopy">
      <wsdl:input message="tns:ClaimDismantledPartReportCopySoapIn" />
      <wsdl:output message="tns:ClaimDismantledPartReportCopySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClaimDismantledPartProformaReport">
      <wsdl:input message="tns:ClaimDismantledPartProformaReportSoapIn" />
      <wsdl:output message="tns:ClaimDismantledPartProformaReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClaimDismantledPartReportReal">
      <wsdl:input message="tns:ClaimDismantledPartReportRealSoapIn" />
      <wsdl:output message="tns:ClaimDismantledPartReportRealSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SparePartSaleReportCopy">
      <wsdl:input message="tns:SparePartSaleReportCopySoapIn" />
      <wsdl:output message="tns:SparePartSaleReportCopySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SparePartSaleReportReal">
      <wsdl:input message="tns:SparePartSaleReportRealSoapIn" />
      <wsdl:output message="tns:SparePartSaleReportRealSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WorkOrderInvoiceReportCopy">
      <wsdl:input message="tns:WorkOrderInvoiceReportCopySoapIn" />
      <wsdl:output message="tns:WorkOrderInvoiceReportCopySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WorkOrderInvoiceProformaReport">
      <wsdl:input message="tns:WorkOrderInvoiceProformaReportSoapIn" />
      <wsdl:output message="tns:WorkOrderInvoiceProformaReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WorkOrderInvoiceReportReal">
      <wsdl:input message="tns:WorkOrderInvoiceReportRealSoapIn" />
      <wsdl:output message="tns:WorkOrderInvoiceReportRealSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WorkOrderInvoiceWithHoldReportCopy">
      <wsdl:input message="tns:WorkOrderInvoiceWithHoldReportCopySoapIn" />
      <wsdl:output message="tns:WorkOrderInvoiceWithHoldReportCopySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WorkOrderInvoiceWithHoldProformaReport">
      <wsdl:input message="tns:WorkOrderInvoiceWithHoldProformaReportSoapIn" />
      <wsdl:output message="tns:WorkOrderInvoiceWithHoldProformaReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WorkOrderInvoiceWithHoldReportReal">
      <wsdl:input message="tns:WorkOrderInvoiceWithHoldReportRealSoapIn" />
      <wsdl:output message="tns:WorkOrderInvoiceWithHoldReportRealSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SpecialWorkOrderInvoiceReportCopy">
      <wsdl:input message="tns:SpecialWorkOrderInvoiceReportCopySoapIn" />
      <wsdl:output message="tns:SpecialWorkOrderInvoiceReportCopySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SpecialWorkOrderInvoiceProformaReport">
      <wsdl:input message="tns:SpecialWorkOrderInvoiceProformaReportSoapIn" />
      <wsdl:output message="tns:SpecialWorkOrderInvoiceProformaReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SpecialWorkOrderInvoiceReportReal">
      <wsdl:input message="tns:SpecialWorkOrderInvoiceReportRealSoapIn" />
      <wsdl:output message="tns:SpecialWorkOrderInvoiceReportRealSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SparePartPickingReport">
      <wsdl:input message="tns:SparePartPickingReportSoapIn" />
      <wsdl:output message="tns:SparePartPickingReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WorkOrderInvioceBreakDownReportCopy">
      <wsdl:input message="tns:WorkOrderInvioceBreakDownReportCopySoapIn" />
      <wsdl:output message="tns:WorkOrderInvioceBreakDownReportCopySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WorkOrderInvioceBreakDownProformaReport">
      <wsdl:input message="tns:WorkOrderInvioceBreakDownProformaReportSoapIn" />
      <wsdl:output message="tns:WorkOrderInvioceBreakDownProformaReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WorkOrderInvioceBreakDownReportReal">
      <wsdl:input message="tns:WorkOrderInvioceBreakDownReportRealSoapIn" />
      <wsdl:output message="tns:WorkOrderInvioceBreakDownReportRealSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnSparePartPositionedReport">
      <wsdl:input message="tns:ReturnSparePartPositionedReportSoapIn" />
      <wsdl:output message="tns:ReturnSparePartPositionedReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SparePartSaleProformaReport">
      <wsdl:input message="tns:SparePartSaleProformaReportSoapIn" />
      <wsdl:output message="tns:SparePartSaleProformaReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CycleCountPlanReport">
      <wsdl:input message="tns:CycleCountPlanReportSoapIn" />
      <wsdl:output message="tns:CycleCountPlanReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WorkOrderReport">
      <wsdl:input message="tns:WorkOrderReportSoapIn" />
      <wsdl:output message="tns:WorkOrderReportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReportServiceSoap" type="tns:ReportServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VehicleDeliveryVoucherReport">
      <soap:operation soapAction="http://tempuri.org/VehicleDeliveryVoucherReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:VehicleDeliveryVoucherReportUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SparePartPositionedReport">
      <soap:operation soapAction="http://tempuri.org/SparePartPositionedReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SparePartPositionedReportUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClaimDismantledPartReportCopy">
      <soap:operation soapAction="http://tempuri.org/ClaimDismantledPartReportCopy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ClaimDismantledPartReportCopyUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClaimDismantledPartProformaReport">
      <soap:operation soapAction="http://tempuri.org/ClaimDismantledPartProformaReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ClaimDismantledPartProformaReportUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClaimDismantledPartReportReal">
      <soap:operation soapAction="http://tempuri.org/ClaimDismantledPartReportReal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ClaimDismantledPartReportRealUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SparePartSaleReportCopy">
      <soap:operation soapAction="http://tempuri.org/SparePartSaleReportCopy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SparePartSaleReportCopyUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SparePartSaleReportReal">
      <soap:operation soapAction="http://tempuri.org/SparePartSaleReportReal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SparePartSaleReportRealUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WorkOrderInvoiceReportCopy">
      <soap:operation soapAction="http://tempuri.org/WorkOrderInvoiceReportCopy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WorkOrderInvoiceReportCopyUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WorkOrderInvoiceProformaReport">
      <soap:operation soapAction="http://tempuri.org/WorkOrderInvoiceProformaReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WorkOrderInvoiceProformaReportUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WorkOrderInvoiceReportReal">
      <soap:operation soapAction="http://tempuri.org/WorkOrderInvoiceReportReal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WorkOrderInvoiceReportRealUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WorkOrderInvoiceWithHoldReportCopy">
      <soap:operation soapAction="http://tempuri.org/WorkOrderInvoiceWithHoldReportCopy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WorkOrderInvoiceWithHoldReportCopyUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WorkOrderInvoiceWithHoldProformaReport">
      <soap:operation soapAction="http://tempuri.org/WorkOrderInvoiceWithHoldProformaReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WorkOrderInvoiceWithHoldProformaReportUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WorkOrderInvoiceWithHoldReportReal">
      <soap:operation soapAction="http://tempuri.org/WorkOrderInvoiceWithHoldReportReal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WorkOrderInvoiceWithHoldReportRealUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SpecialWorkOrderInvoiceReportCopy">
      <soap:operation soapAction="http://tempuri.org/SpecialWorkOrderInvoiceReportCopy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SpecialWorkOrderInvoiceReportCopyUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SpecialWorkOrderInvoiceProformaReport">
      <soap:operation soapAction="http://tempuri.org/SpecialWorkOrderInvoiceProformaReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SpecialWorkOrderInvoiceProformaReportUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SpecialWorkOrderInvoiceReportReal">
      <soap:operation soapAction="http://tempuri.org/SpecialWorkOrderInvoiceReportReal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SpecialWorkOrderInvoiceReportRealUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SparePartPickingReport">
      <soap:operation soapAction="http://tempuri.org/SparePartPickingReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SparePartPickingReportUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WorkOrderInvioceBreakDownReportCopy">
      <soap:operation soapAction="http://tempuri.org/WorkOrderInvioceBreakDownReportCopy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WorkOrderInvioceBreakDownReportCopyUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WorkOrderInvioceBreakDownProformaReport">
      <soap:operation soapAction="http://tempuri.org/WorkOrderInvioceBreakDownProformaReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WorkOrderInvioceBreakDownProformaReportUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WorkOrderInvioceBreakDownReportReal">
      <soap:operation soapAction="http://tempuri.org/WorkOrderInvioceBreakDownReportReal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WorkOrderInvioceBreakDownReportRealUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnSparePartPositionedReport">
      <soap:operation soapAction="http://tempuri.org/ReturnSparePartPositionedReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ReturnSparePartPositionedReportUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SparePartSaleProformaReport">
      <soap:operation soapAction="http://tempuri.org/SparePartSaleProformaReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SparePartSaleProformaReportUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CycleCountPlanReport">
      <soap:operation soapAction="http://tempuri.org/CycleCountPlanReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CycleCountPlanReportUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WorkOrderReport">
      <soap:operation soapAction="http://tempuri.org/WorkOrderReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WorkOrderReportUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReportServiceSoap12" type="tns:ReportServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VehicleDeliveryVoucherReport">
      <soap12:operation soapAction="http://tempuri.org/VehicleDeliveryVoucherReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:VehicleDeliveryVoucherReportUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SparePartPositionedReport">
      <soap12:operation soapAction="http://tempuri.org/SparePartPositionedReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SparePartPositionedReportUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClaimDismantledPartReportCopy">
      <soap12:operation soapAction="http://tempuri.org/ClaimDismantledPartReportCopy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ClaimDismantledPartReportCopyUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClaimDismantledPartProformaReport">
      <soap12:operation soapAction="http://tempuri.org/ClaimDismantledPartProformaReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ClaimDismantledPartProformaReportUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClaimDismantledPartReportReal">
      <soap12:operation soapAction="http://tempuri.org/ClaimDismantledPartReportReal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ClaimDismantledPartReportRealUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SparePartSaleReportCopy">
      <soap12:operation soapAction="http://tempuri.org/SparePartSaleReportCopy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SparePartSaleReportCopyUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SparePartSaleReportReal">
      <soap12:operation soapAction="http://tempuri.org/SparePartSaleReportReal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SparePartSaleReportRealUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WorkOrderInvoiceReportCopy">
      <soap12:operation soapAction="http://tempuri.org/WorkOrderInvoiceReportCopy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WorkOrderInvoiceReportCopyUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WorkOrderInvoiceProformaReport">
      <soap12:operation soapAction="http://tempuri.org/WorkOrderInvoiceProformaReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WorkOrderInvoiceProformaReportUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WorkOrderInvoiceReportReal">
      <soap12:operation soapAction="http://tempuri.org/WorkOrderInvoiceReportReal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WorkOrderInvoiceReportRealUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WorkOrderInvoiceWithHoldReportCopy">
      <soap12:operation soapAction="http://tempuri.org/WorkOrderInvoiceWithHoldReportCopy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WorkOrderInvoiceWithHoldReportCopyUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WorkOrderInvoiceWithHoldProformaReport">
      <soap12:operation soapAction="http://tempuri.org/WorkOrderInvoiceWithHoldProformaReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WorkOrderInvoiceWithHoldProformaReportUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WorkOrderInvoiceWithHoldReportReal">
      <soap12:operation soapAction="http://tempuri.org/WorkOrderInvoiceWithHoldReportReal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WorkOrderInvoiceWithHoldReportRealUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SpecialWorkOrderInvoiceReportCopy">
      <soap12:operation soapAction="http://tempuri.org/SpecialWorkOrderInvoiceReportCopy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SpecialWorkOrderInvoiceReportCopyUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SpecialWorkOrderInvoiceProformaReport">
      <soap12:operation soapAction="http://tempuri.org/SpecialWorkOrderInvoiceProformaReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SpecialWorkOrderInvoiceProformaReportUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SpecialWorkOrderInvoiceReportReal">
      <soap12:operation soapAction="http://tempuri.org/SpecialWorkOrderInvoiceReportReal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SpecialWorkOrderInvoiceReportRealUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SparePartPickingReport">
      <soap12:operation soapAction="http://tempuri.org/SparePartPickingReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SparePartPickingReportUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WorkOrderInvioceBreakDownReportCopy">
      <soap12:operation soapAction="http://tempuri.org/WorkOrderInvioceBreakDownReportCopy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WorkOrderInvioceBreakDownReportCopyUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WorkOrderInvioceBreakDownProformaReport">
      <soap12:operation soapAction="http://tempuri.org/WorkOrderInvioceBreakDownProformaReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WorkOrderInvioceBreakDownProformaReportUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WorkOrderInvioceBreakDownReportReal">
      <soap12:operation soapAction="http://tempuri.org/WorkOrderInvioceBreakDownReportReal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WorkOrderInvioceBreakDownReportRealUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnSparePartPositionedReport">
      <soap12:operation soapAction="http://tempuri.org/ReturnSparePartPositionedReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ReturnSparePartPositionedReportUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SparePartSaleProformaReport">
      <soap12:operation soapAction="http://tempuri.org/SparePartSaleProformaReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SparePartSaleProformaReportUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CycleCountPlanReport">
      <soap12:operation soapAction="http://tempuri.org/CycleCountPlanReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CycleCountPlanReportUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WorkOrderReport">
      <soap12:operation soapAction="http://tempuri.org/WorkOrderReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WorkOrderReportUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportService">
    <wsdl:port name="ReportServiceSoap" binding="tns:ReportServiceSoap">
      <soap:address location="http://localhost/ODMSReportService/ReportService.asmx" />
    </wsdl:port>
    <wsdl:port name="ReportServiceSoap12" binding="tns:ReportServiceSoap12">
      <soap12:address location="http://localhost/ODMSReportService/ReportService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>